<head>
  <title>Proyecto-Web</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container" id='div' style="background:black; width:100%">
  <h3 style="color:white">Menu -    Sistema de Inventarios</h3>
  <ul class="nav nav-tabs">
    <li>{{#link-to 'home'}}Home{{/link-to}}</li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Usuarios<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li>{{#link-to 'usuarios'}}Empleados{{/link-to}}</li>
        <li>{{#link-to 'new-usuarios'}}Nuevos Empleados{{/link-to}}</li>                      
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pedidos<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li>{{#link-to 'pedidos'}}Todos los Pedidos{{/link-to}}</li>
        <li>{{#link-to 'new-pedidos'}}Nuevo Pedido{{/link-to}}</li>
        <li>{{#link-to 'recibir-pedido'}}Recibir Pedido{{/link-to}}</li>              
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inventario<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li>{{#link-to 'inventario'}}Inventario{{/link-to}}</li>
        <li>{{#link-to 'add'}}Agregar Producto{{/link-to}}</li>
        <li>{{#link-to 'retirar'}}Retirar Producto{{/link-to}}</li>                      
      </ul>
    </li>
    <li>{{#link-to 'logs'}}Logs{{/link-to}}</li>
  </ul>
</div>

</body>
{{outlet}}